.rwd-video {
    background: #99CCFF;
    /* box-shadow: 5px 5px 5px #f0c15b; */
    /* border: 2px solid gold; */
    border-bottom-right-radius:50px ;
    border-bottom-left-radius: 50px;
  }
  .rwd-video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
      
  }
  .rwd-video iframe,
  .rwd-video object,
  .rwd-video embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  } 
  
  .director {
      width: 40%;
      height: 50%;
      margin: 5%;
  }
