@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Muli", sans-serif ;
}
body {
  background-image: url('./assets/bgImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: transparent !important;
}

/* .navbar-brand {
  font-size: 1.0rem !important;
  color: #129ff0 !important;
} */

.navbar a {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #ffffff !important;
}
 @media(max-width:991px) {
   .navbar-brand {
     font-size: 1.5rem !important;
   }
 .menu_active {
  font-weight: bold;
  border-bottom: #b5e019;
 }
}



